/* CSS HEX 
--black-chocolate: #131200ff;
--mantis: #78bc61ff;
--dark-khaki: #c0c781ff;
--camel: #c59b76ff;
--salmon: #e9806eff;
*/

body{
    background-color: #173e74;
}

.container{
    padding: 20px;    
    background-color: #78bc61ff;
}

h1{
    color: #90bcf9;
    font-size: 50px;
    text-align: center;
}

.center {
    margin: 4px 2px;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonLogin{
    font-family: Verdana;
    background-color: #155026;
    color: #ffbfed;
    padding: 20px 50px;
}

.btn-get-artists{
    position: relative;
    width: 100px;
    font-family: Verdana;
    background-color: #155026;
    color: #ffbfed;
    padding: 18px 5px;
    margin: 5px;
}

#loginPromt{
    padding-bottom: 20px;
}

div{
    column-gap: 10px;
}

.col{
    column-gap: 10px;
    column-width: 20px;
    margin: 1px;
    width: 5px;
    padding-right: 5px;
}

.list{
    font-size: 16px;
    font-family: Verdana;
}